<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<title>Real Time Server Browser</title>
<head runat="server">
    <link rel="stylesheet" href="/js/Libs/bootstrap/css/bootstrap.css">
    <link href="/content/site.css" rel="stylesheet" type="text/css" />
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript" > </script>-->
</head>
<body>
    <!-- Wrap all page content here -->
    <div id="wrap">
        <!-- Begin page content -->

        <div class="page-header">
            <h2>Quake - Real Time Server Browser</h2>
        </div>
        <!--   <ol class="breadcrumb">
          <li><a href="#">Servers</a></li>
          <li><a href="#">TODO</a></li>
        </ol>-->
        <div class="container">
            <div class="row">
                <div class="col-md-2" id="sidebar">
                </div>
                <div class="col-md-10" id="content">
                    <div class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
        </div>
        <p class="text-muted credit">Work done by <a href="mailto:efessel@gmail.com">Joseph Lukacovic</a></p>
    </div>


    <!-- Templates -->

    <script type="text/template" id="navdropdown">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Net Quake<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="/home/0">NetQuake</a></li>
                <li><a href="/home/1">Quake World</a></li>
            </ul>
        </li>
    </script>

    <script type="text/template" id="home">
        <div class="row">
            <div class="col-md-6">
                <div id="homeChat">
                </div>
                <div id="homeMatches">
                </div>
            </div>
            <div class="col-md-6">
                <div>Live refresh <a href="#" id="toggleRefresh">on</a></div>
                <div id="homeServers"></div>
            </div>
        </div>
    </script>

    <script type="text/template" id="home-servers">
        <div><strong>Active Servers</strong>    </div>
        <div class="table-responsive">
            <table id="server-list" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Server</th>
                        <th>Players/Max</th>
                        <th>Mod/Map</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof servers !== 'undefined'){ %>
                    <% _.each(servers, function(server,idx){ %>
                    <tr>
                        <td class="h5" colspan="2"><a href='servers/<%= server.ServerId %>'><%= server.DNS %><% if(server.Port !== '26000') print(':' + server.Port); %></a></td>
                        <td><%= server.CurrentPlayerCount %> / <%= server.MaxPlayers %></td>
                        <td><%= server.Mod %>/<%= server.Map %> </td>
                    </tr>
                    <% if(server.Players != null && server.Players.length > 0) { %>

                    <tr>
                        <td width="20px"></td>
                        <td colspan="3">
                            <table id="player-list" class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Time</th>
                                        <% if(server.GameId == 0) { %>
                                        <th>Colors</th>
                                        <% } %>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(server.Players, function(player,idx){ %>
                                    <tr>

                                        <td>
                                            <a href='player/<%= player.PlayerId %>'>
                                                <canvas class="name-graphic" width="192" height="12" value="<%= player.NameBase64 %>"></canvas>
                                            </a>
                                        </td>
                                        <td><%= player.TotalPlayTime %></td>

                                        <% if(server.GameId == 0) { %>
                                        <td>
                                            <table frame="box" cellspacing="0" cellpadding="0" style="font-size: 0px;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <img src="/content/img/q1color<%= player.Shirt %>.gif" height="5">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <img src="/content/img/q1color<%= player.Pant %>.gif" height="5">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <% } %>
                                        <td>  <%= player.Score %></td>
                                    </tr>
                                    <% }); %>
                            </table>
                        </td>
                    </tr>

                    <% } %>
                    <% }); %>
                    <% } else { %>
                    <tr><td colspan="3" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                    <% } %>
                </tbody>
            </table>
    </script>

    <script type="text/template" id="home-matches">

        <div><strong>Recent Matches</strong>    </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Where</th>
                    <th>Ended</th>
                    <th>Mod/Map</th>
                </tr>
            </thead>
            <tbody id="serverMatchsRows">
                <% if(typeof matches !== 'undefined'){ %>
                <% _.each(matches, function(match,idx){ %>
                <tr mid="<%= match.MatchId %>" class="link-row">
                    <td><%= match.HostName %></td>
                    <td><%= match.MatchEndAgo %> <% if(match.MatchEndAgo !== 'Now') print('ago'); %></td>
                    <!--<td><%= match.PlayerCount %></td>-->
                    <td><%= match.Mod %>/<%= match.Map %></td>
                </tr>
                <% }); %>
                <% } else { %>
                <div class="spinner"><div class="cube1"></div><div class="cube2"></div></div>
                <% } %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="home-chat">

        <div style="width:100%;"><strong>Lobby</strong> (<a href="#" id="toggleChat"><% showChat ? print('disable') : print ('enable') %></a>) <span id="userSpan">Users online: <span id="userCount">0</span></span><span style="float: right;" id="chatError"></span></div>
        <div id="chatBody" class="component">
            <div style="width:100%; height:200px; clear:both;">
                <div id="messages" style="float: left; clear: both; overflow-y: scroll;overflow-x: auto; width:100%; height:200px">

                </div>
            </div>
            <textarea id="newMessage" style="width:85%; height:26px; resize: none;" rows="1" placeholder="Enter email"></textarea>
            <button type="submit" id="submitMessage">Send</button>

        </div>

    </script>

    <script type="text/template" id="server-list">

        <div>Live refresh <a href="#" id="toggleRefresh"><%= toggle %></a></div>
        <div class="table-responsive">
            <table id="server-list" class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th colspan="2">Address</th>
                        <th>Name</th>
                        <th>Players</th>
                        <th>Mod/Map</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(typeof servers !== 'undefined'){ %>
                    <% _.each(servers, function(server,idx){ %>

                    <tr>
                        <td class="h4" colspan="2"><a href='servers/<%= server.ServerId %>'><%= server.DNS %><% if(server.Port !== '26000') print(':' + server.Port); %></a></td>
                        <td> <%= server.Name %></td>
                        <td><%= server.CurrentPlayerCount %> / <%= server.MaxPlayers %></td>
                        <td> <%= server.Mod %> / <%= server.Map %> </td>
                        <td> <%= server.Status %> </td>
                    </tr>
                    <% if(server.Players != null && server.Players.length > 0) { %>
                    <tr>
                        <td width="100px"></td>
                        <td colspan="5">
                            <table id="player-list" class="table" table-condensed>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <% if(server.GameId == 0) { %>
                                        <th>Colors</th>
                                        <% } %>
                                        <th>Score (Total)</th>
                                        <th>Online Time</th>
                                        <th>FPM</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% _.each(server.Players, function(player,idx){ %>

                                    <tr>
                                        <td>
                                            <a href='player/<%= player.PlayerId %>'>
                                                <canvas class="name-graphic" width="256" height="16" value="<%= player.NameBase64 %>"></canvas>
                                            </a>
                                        </td>
                                        <% if(server.GameId == 0) { %>
                                        <td>
                                            <table frame="box" cellspacing="0" cellpadding="0" style="font-size: 0px;">
                                                <tbody>
                                                    <tr>
                                                        <td align="center">
                                                            <img src="/content/img/q1color<%= player.Shirt %>.gif" height="7">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center">
                                                            <img src="/content/img/q1color<%= player.Pant %>.gif" height="7">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <% } %>
                                        <td><%= player.Score %> (<%= player.TotalScore %>)</td>
                                        <td><%= player.TotalPlayTime %> </td>
                                        <td><%= player.CurrentFPM %> </td>
                                        <td></td>
                                    </tr>
                                    <% }); %>
                            </table>
                        </td>
                    </tr>

                    <% } %>
                    <% }); %>
                    <% } else { %>
                    <tr><td colspan="2" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>

                    <% } %>
                </tbody>

            </table>
        </div>
    </script>
    <script type="text/template" id="server-details">

        <h3 id="header">Loading...</h3>
        <div class="row">
            <div class="col-sm-5">
                <strong>Info</strong>
            </div>

            <div class="col-sm-7">
                <strong>Matches</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">

                <table class="table">
                    <thead>
                        <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
                    </thead>
                    <tbody id="serverInfo">
                        <tr><td colspan="2" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>

                    </tbody>
                </table>
                <strong>Time active</strong>
                <div id="hourlyGraph"></div>
            </div>
            <div class="col-sm-7" id="serverMatches">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5" id="serverStats">

            </div>
            <div class="col-sm-7">
                <strong>This week's ranking (resets Sunday 12AM EST)</strong>
                <div id="serverRanks">
                </div>
            </div>
        </div>
    </script>
    <script type="text/template" id="server-detail-matches">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>When</th>
                    <th>Length</th>
                    <th>Players</th>
                    <th>Mod</th>
                    <th>Map</th>
                </tr>
            </thead>
            <tbody id="serverMatchsRows">
                <tr><td colspan="5" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
            </tbody>
        </table>
        <div id="paginator"></div>
        <!--<a href='#' id="serverMatchesPrevious">previous</a><a href='#' id="serverMatchesNext">next</a> -->
    </script>
    <script type="text/template" id="server-detail-info">
        <tr>
            <td>IP/Port</td>
            <td><%= info.IPAddress %>:<%= info.Port %></td>
        </tr>
        <% if (info.MapDownloadUrl !== '') { %>
        <tr>
            <td>Map Download</td>
            <td><a href="<%= info.MapDownloadUrl %>">link</a></td>
        </tr>
        <% } %>
        <% if (info.PublicSiteUrl !== '') { %>
        <tr>
            <td>Server Website</td>
            <td><a href="<%= info.PublicSiteUrl %>">link</a></td>
        </tr>
        <% } %>
        <tr>
            <td>Mod/Map</td>
            <td><%= info.Mod %>/<%= info.Map %></td>
        </tr>
        <tr>
            <td>Players</td>
            <td><%= info.CurrentPlayerCount %> / <%= info.MaxPlayers %></td>
        </tr>
        <tr>
            <td>Location</td>
            <td><%= info.Region %><% if(info.Location != '') print(' / ' + info.Location) %></td>
        </tr>
    </script>
    <script type="text/template" id="server-detail-match">
        <tr mid="<%= MatchId %>" class="link-row">
            <td><%= MatchStart %></td>
            <td><%= MatchDuration %></td>
            <td><%= PlayerCount %></td>
            <td><%= Mod %></td>
            <td><%= Map %></td>
        </tr>
    </script>
    <script type="text/template" id="server-detail-ranks">
        <table class="table">
            <thead>
            <th></th>
            <th>Player</th>
            <th>FPM</th>
            <th></th>
            </thead>
            <tbody>
                <% if(typeof serverdetail != 'undefined') { %>
                <% if(serverdetail.ranks == null || serverdetail.length == 0) { %>
                <tr><td colspan="3" class="centered">No Data</td></tr>
                <% } else { %>
                <% _.each(serverdetail.ranks, function(rank, idx){ %>
                <% if(idx > 19) return; %>
                <tr>
                    <td><%= rank.Position %></td>
                    <td>
                        <a href="player/<%= rank.PlayerId %>"><canvas class="name-graphic" width="192" height="12" value="<%= rank.AliasBase64 %>"></canvas></a>
                    </td>
                    <td><%= rank.FPM %></td>
                    <td><a href="matches/<%= rank.MatchId %>">Match</a></td>
                </tr>
                <% }); %>
                <% } %>
                <% } else { %>
                <tr><td colspan="3" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                <% } %>
            </tbody>
        </table>
    </script>

    <script type="text/template" id="server-detail-stats">
        <strong>This week's top server fans</strong>
        <table class="table">
            <thead>
            <th></th>
            <th>Player</th>
            <th>Time Played</th>
            </thead>
            <tbody>
                <% if(typeof stats != 'undefined') { %>
                <% if(stats.playtime == null || stats.length == 0) { %>
                <tr><td colspan="3" class="centered">No Data</td></tr>
                <% } else { %>
                <% _.each(stats.playtime, function(pt, idx){ %>
                <% if(idx > 4) return; %>
                <tr>
                    <td><%= pt.Position %></td>
                    <td>
                        <a href="player/<%= pt.PlayerId %>"><canvas class="name-graphic" width="192" height="12" value="<%= pt.AliasBase64 %>"></canvas></a>
                    </td>
                    <td><%= pt.PlayTime %></td>
                </tr>
                <% }); %>
                <% } %>
                <% } else { %>
                <tr><td colspan="3" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                <% } %>
            </tbody>
        </table>
        <strong>Maps for the last 30 days</strong>
        <% if(typeof stats != 'undefined') { %>
        <div id="mapPercentageChart"></div>
        <% } else { %>
        <div class="spinner"><div class="cube1"></div><div class="cube2"></div></div>
        <% } %>
    </script>
    <script type="text/template" id="match-detail">

        <% if(typeof HostName != 'undefined') { %>
        <h3>Match <%= MatchStart %> on <%= HostName %></h3>
        <div class="row">
            <div class="col-sm-2">DNS</div>
            <div class="col-sm-4"><a href='servers/<%= ServerId %>'><%= HostName %></a></div>

            <div class="col-sm-2">Mod</div>
            <div class="col-sm-4"><%= Mod %></div>
        </div>
        <div class="row">
            <div class="col-sm-2">Match Length</div>
            <div class="col-sm-4"><%= MatchLength %></div>

            <div class="col-sm-2">Map</div>
            <div class="col-sm-4"><%= Map %></div>
        </div>
        <% } else { %>
        <h3>Loading...</h3>
        <% } %>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <% if(typeof GameId != 'undefined' && GameId == 0) { %>
                    <th>Colors</th>
                    <% } %>
                    <th>Score</th>
                    <th>Late</th>
                    <th>Duration</th>
                    <th>FPM</th>
                </tr>
            </thead>
            <tbody id="matchPlayersRows">
                <% if(typeof HostName != 'undefined') { %>
                <% _.each(Players, function(player){ %>

                <tr>
                    <td>
                        <a href='player/<%= player.PlayerId %>'>
                            <canvas class="name-graphic" width="256" height="16" value="<%= player.AliasBase64 %>"></canvas>
                        </a>
                    </td>

                    <% if(GameId == 0) { %>
                    <td>
                        <table frame="box" cellspacing="0" cellpadding="0" style="font-size: 0px;">
                            <tbody>
                                <tr>
                                    <td align="center">
                                        <img src="/content/img/q1color<%= player.ShirtColor %>.gif" height="7">
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img src="/content/img/q1color<%= player.PantColor %>.gif" height="7">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                    <% } %>
                    <td><%= player.Frags %></td>
                    <td><%= player.Late %></td>
                    <td><%= player.Duration %></td>
                    <td><%= player.FPM %></td>
                </tr>
                <% }); %>
                <% } else { %>
                <tr><td colspan="6" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                <% } %>


            </tbody>
        </table>
    </script>
    <script type="text/template" id="match-detail-player">
    </script>


    <!-- PLAYER PAGE -->


    <script type="text/template" id="player-detail">

        <% if (typeof summery != 'undefined' && summery.PlayerNameBase64 !== '') { %>
        <h3>
            Details of Player <canvas class="name-graphic" width="256" height="16" value="<%= summery.PlayerNameBase64 %>"></canvas>
        </h3>
        <% } else { %>
        <h3>Loading...</h3>
        <% } %>
        <div class="col-sm-5">
            <strong>Info</strong>
        </div>
        <div class="col-sm-7">

            <strong>Matches</strong>
        </div>

        <div class="col-sm-5">

            <table class="table">
                <thead>
                    <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
                </thead>
                <tbody>
                    <% if (typeof summery != 'undefined') { %>

                    <tr>
                        <td>Last Seen</td>
                        <td><%= summery.LastSeenAgo %> <% if(summery.LastSeenAgo !== 'Now') print('ago'); %></td>
                    </tr>
                    <tr>
                        <td>Last Server</td>
                        <td><a href="servers/<%=summery.LastServerId%>"><%= summery.LastServer %></a></td>
                    </tr>

                    <% if (summery.WeekTime !== '') { %>
                    <tr>
                        <td>This week</td>
                        <td><%= summery.WeekTime %>, <%= summery.WeekFPM %> Avg FPM</td>
                    </tr>
                    <% } %>
                    <tr>
                        <td>Total recorded</td>
                        <% if (summery.TotalFrags !== '') { %>
                        <td><%= summery.TotalTime %>, <%= summery.TotalFrags %> Frags </td>
                        <% } else { %>
                        <td>N/A</td>
                        <% } %>
                    </tr>
                    <% } else { %>

                    <tr><td colspan="2" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                    <% } %>
                </tbody>
            </table>
            <strong>Time active</strong>
            <div id="hourlyGraph" class="component"></div>
            <div id="playerAliases"></div>
        </div>

        <div class="col-sm-7" id="playerMatches">
            <tr><td colspan="5" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
        </div>

    </script>

    <script type="text/template" id="player-detail-matches">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Length</th>
                    <th>Mod</th>
                    <th>Map</th>
                    <th>Server</th>
                </tr>
            </thead>
            <tbody id="playerMatchsRows"></tbody>
        </table>
        <div id="matchPaginator"></div>
    </script>

    <script type="text/template" id="player-detail-aliases">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Alias</th>
                    <th>Last Seen</th>
                </tr>
            </thead>
            <tbody>
                <% if(typeof aliases != 'undefined') { %>
                <% _.each(aliases, function(alias){ %>
                <tr>
                    <td>
                        <a href='player/<%= alias.PlayerId %>'>
                            <canvas class="name-graphic" width="192" height="12" value="<%= alias.AliasBase64 %>"></canvas>
                        </a>
                    </td>
                    <td><%= alias.LastSeenAgo %> <% if(alias.LastSeenAgo !== 'Now') print('ago'); %></td>
                </tr>
                <% }); %>
                <% } else { %>
                <tr><td colspan="2" class="centered"><div class="spinner"><div class="cube1"></div><div class="cube2"></div></div></td></tr>
                <% } %>
            </tbody>
        </table>
        <div id="aliasPaginator"></div>
    </script>

    <script type="text/template" id="player-detail-match">
        <tr mid="<%= MatchId %>" class="link-row">
            <td><%= JoinTime %></td>
            <td><%= StayDuration %></td>
            <td><%= Mod %></td>
            <td><%= Map %></td>
            <td><%= HostName %></td>
        </tr>
    </script>
    <script type="text/template" id="player-search-form">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="playerSearchTerm">Search Term</label>
                <input type="text" class="form-control" id="playerSearchTerm" placeholder="Search Term">
            </div>
            <button id="searchButton" class="btn btn-default">Search</button>
        </form>
        <div class="col-sm-10" id="playerList">
        </div>
    </script>
    <script type="text/template" id="player-search-list">
        <table class="table">
            <thead>
            <th>Player</th>
            <th>Last Seen</th>
            </thead>
            <tbody>
                <% if(typeof players != 'undefined') { %>
                <% _.each(players, function(player){ %>
                <tr>
                    <td>
                        <a href='player/<%= player.PlayerId %>'>
                            <canvas class="name-graphic" width="256" height="16" value="<%= player.AliasBase64 %>"></canvas>
                        </a>
                    </td>
                    <td><%= player.LastSeenAgo %> <% if(player.LastSeenAgo !== 'Now') print('ago'); %></td>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
        </table>
        <div id="paginator"></div>
    </script>
    <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>